{% extends 'volunteers/base.html' %}

{% block content %}

<h5><b>Заполните форму</b></h5>
<form method="POST" class="post-form">{% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" id="name" name="name" placeholder="Ваше имя">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="phone" name="phone" placeholder="Телефон">
  </div>
  <div class="form-group">
    <label>
      <input type="radio" name="role" value="Событийный волонтер"> <b>1. Событийный волонтер (эвент-волонтер)</b> - участник крупных событий, акций, а также иных мероприятий проводимых БО "Хайра".
    </label>
    <label>
      <input type="radio" name="role" value="Волонтер-донор"> <b>2. Волонтер-донор</b> - человек, готовый оказать посильную помощь в решении вопросов донорства крови, проводить просветительскую работу, и, если позволяет здоровье, при необходимости сам стать донором.
    </label>
    <label>
      <input type="radio" name="role" value="Волонтер общественной безопасности"> <b>3. Волонтер общественной безопасности</b> - добровольческая деятельность, направленная на помощь службам экстренного реагирования в профилактике и ликвидации последствий чрезвычайных ситуаций, помощь в организации обеспечения безопасности на массовых событиях, поиске пропавших людей, содействие интернет-безопасности и т.д.
    </label>
    <label>
      <input type="radio" name="role" value="Медиа-волонтер"> <b>4. Медиа-волонтер</b> - человек, способный применить свои знания и навыки для того, чтобы рассказать о волонтёрстве другим. Это фотографы, журналисты,дизайнеры, люди, популярные в соц.сетях, готовые помочь в распространении информации.
    </label>
    <label>
      <input type="radio" name="role" value="Волонтер помощи страдающим паническими атаками"> <b>5. Волонтер помощи страдающим паническими атаками</b> - доброволец,  который сам переборол недуг, способный поделиться собственным опытом, оказать любую психологическую поддержку.
    </label>
    <label>
      <input type="radio" name="role" value="Волонтеры финансовой помощи"> <b>6. Волонтеры финансовой помощи</b> - доброволец, оказывающий безвозмездную финансово-материальную поддержку. Участвующий в подготовке программ по повышению финансовой грамотности.
    </label>
  </div>
  <button type="submit" class="save btn btn-primary">Я волонтер!</button>
</form>

{% endblock %}