{% extends 'volunteers/base.html' %}

{% block content %}

<h5><b>Таблица волонтеров</b></h5>
<div class="table-responsive">
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Имя</th>
				<th scope="col">Телефон</th>
				<th scope="col">Роль</th>
				<th scope="col">Регистрация</th>
			</tr>
		</thead>
		<tbody>
			{% for volunteer in volunteer_list %}
			<tr>
				<th scope="row">{{ volunteer.name }}</th>
				<th>{{ volunteer.phone }}</th>
				<th>{{ volunteer.give }}</th>
				<th>{{ volunteer.date }}</th>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}