{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Волонтеры</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'volunteers/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Имя</th>
				<th scope="col">Телефон</th>
				<th scope="col">Помощь</th>
				<th scope="col">Дата регистрации</th>
			</tr>
		</thead>
		<tbody>
			{% for volunteer in volunteer_list %}
			<tr>
				<th scope="row">{{ volunteer.name }}</th>
				<th>{{ volunteer.phone }}</th>
				<th>{{ volunteer.give }}</th>
				<th>{{ volunteer.date }}</th>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>