{% extends 'volunteers/base.html' %}

{% block content %}

<div class="container">
	<div class="row">
	  <div class="col-xl-12">
	  	<br>
	  	<h5><b>Таблица волонтеров</b></h5>
	    <table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Имя</th>
						<th scope="col">Телефон</th>
						<th scope="col">Помощь</th>
						<th scope="col">Дата регистрации</th>
					</tr>
				</thead>
				<tbody>
					{% for volunteer in volunteer_list %}
					<tr>
						<th scope="row">{{ volunteer.name }}</th>
						<th>{{ volunteer.phone }}</th>
						<th>{{ volunteer.give }}</th>
						<th>{{ volunteer.date }}</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
	  </div>
	</div>
</div>

{% endblock %}